<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 600">

  <style>
    .svg-state-group {
      cursor: pointer;

      &:hover {
        .svg-state-path,
        .svg-state-rect {
          fill: {{hoverColor}};
        }
      }
    }
  </style>

  <defs>
    <linearGradient id="grad1" gradientUnits="userSpaceOnUse" x1="0%" x2="100%" y1="0%" y2="0%">
      @for (stop of gradientStops; track $index) {
      <stop [attr.offset]=$index [style.stop-color]=stop></stop>
      }
    </linearGradient>
  </defs>

  @for (state of states; track $index) {
  <g class="svg-state-group"
    [attr.id]="state.id"
    (click)="onMapClick(state.id)">

    <!-- draw the shape of the state -->
    <path class="svg-state-path"
      [attr.d]="state.d"
      [attr.fill]="stateColor"
      [attr.stroke]="borderColor">
    </path>

    <!-- For states that are too small to put the label in them, the labels are in a separate box with a line pointing to the state -->

    @if (state.boxX) {
    <!-- draw box for the label -->
    <rect class="svg-state-rect"
      [attr.fill]="stateColor"
      [attr.stroke]="borderColor"
      [attr.x]="state.boxX"
      [attr.y]="state.boxY"
      [attr.width]="state.boxW"
      [attr.height]="state.boxH">
    </rect>
    }

    @if (state.lineX1) {
    <!-- Draw the lines from label boxes to the state -->
    <line class="svg-state-line"
      fill="none"
      [attr.stroke]="lineColor"
      stroke-width="2"
      [attr.x1]="state.lineX1"
      [attr.y1]="state.lineY1"
      [attr.x2]="state.lineX2"
      [attr.y2]="state.lineY2">
    </line>
    }

    @if (state.x) {
    <!-- draw the label -->
    <text class="svg-state-label"
      [attr.x]="state.x"
      [attr.y]="state.y"
      text-anchor="middle"
      stroke="none"
      [attr.fill]="labelColor">
      <tspan dy="6.5">{{state.id}}</tspan>
    </text>
    }

    <!-- optionally draw a circle for DC -->
    @if (state.id === 'DC') {
    <circle id="svg-dc-circle"
      fill="#D3D3D3"
      stroke="#FFFFFF"
      stroke-width="1.5"
      cx="801.3"
      cy="251.8"
      r="2"
      opacity="0"> <!-- Set opacity to "0" to hide DC circle -->
    </circle>

    }

  </g>
  }

</svg>
