<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 600">

  @for (state of states; track $index) {
  <g class="svg-state-group"
    [attr.id]="state.id"
    (click)="onUsMapClick(state.id)">

    <!-- draw the shape of the state -->
    <path class="svg-state-path"
      [attr.d]="state.d"
      [attr.fill]="fillStateColor"
      [attr.stroke]="strokeColor">
    </path>

    <!-- For states that are too small to put the label in them, the labels are in a separate box with a line pointing to the state -->

    @if (state.boxX) {
    <!-- draw box for the label -->
    <rect class="svg-state-rect"
      [attr.fill]="fillStateColor"
      [attr.stroke]="strokeColor"
      [attr.x]="state.boxX"
      [attr.y]="state.boxY"
      [attr.width]="state.boxW"
      [attr.height]="state.boxH">
    </rect>
    }

    @if (state.lineX1) {
    <!-- Draw the lines from label boxes to the state -->
    <line class="svg-state-line"
      fill="none"
      [attr.stroke]="lineColor"
      stroke-width="2"
      [attr.x1]="state.lineX1"
      [attr.y1]="state.lineY1"
      [attr.x2]="state.lineX2"
      [attr.y2]="state.lineY2">
    </line>
    }

    @if (state.x) {
    <!-- draw the label -->
    <text class="svg-state-label"
      [attr.x]="state.x"
      [attr.y]="state.y"
      text-anchor="middle"
      stroke="none"
      [attr.fill]="fillLabelColor">
      <tspan dy="6.5">{{state.id}}</tspan>
    </text>
    }

    <!-- optionally draw a circle for DC -->
    @if (state.id === 'DC') {
    <circle id="svg-dc-circle"
      fill="#D3D3D3"
      stroke="#FFFFFF"
      stroke-width="1.5"
      cx="801.3"
      cy="251.8"
      r="2"
      opacity="0"> <!-- Set opacity to "0" to hide DC circle -->
    </circle>

    }

  </g>
  }

</svg>
